.icon {
  height: 56px;
  width: 56px;
  position: relative;
}
.childContainer {
  margin: 0 !important;
  width: 120px;
  position: absolute;
  bottom: 14.5px;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.elementGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini-5) var(--padding-20xl) var(--padding-45xl-5);
  position: relative;
  gap: var(--gap-11xs);
  flex-wrap: nowrap;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.bar:before,
.bar:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.bar:hover .bar {
  animation-play-state: paused;
}

.bar {
  display: flex;
  align-items: center;
  align-self: stretch;
  width: 100%;
  flex-direction: row;
  background-color: var(--secondary-color-04);
  overflow: hidden;
  justify-content: space-around;
  padding: var(--padding-51xl) 0;
  gap: var(--gap-xl);
  /* animation: 15s slide infinite linear; */
}
.highlights {
  display: flex;
  position: relative;
  width: 100%;
  padding: 0 0 var(--padding-61xl);
  text-align: center;
  font-size: var(--body-20px-regular-size);
  color: var(--color-black);
  font-family: var(--body-18px-regular);
  /* background-color: var(--secondary-color-04); */
}
