.contactUs {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
}
.contactUsWrapper {
  width: 970px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.inputFields {
  background-color: transparent;
  height: 35px;
  width: 50em;
  position: relative;
  font-family: var(--body-18px-regular);
  font-size: var(--body-18px-regular-size);
  color: var(--neutral-02);
}
.form {
  display: flex;
  height: 338px;
  width: 970px;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  gap: 64px 28px;
  font-size: var(--body-18px-regular-size);
  color: var(--neutral-02);
}
.btn {
  height: 53px;
  width: 205px;
}
.letsTalk,
.submit {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.submit {
  width: 970px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.letsTalk {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-xl);
  gap: var(--gap-36xl);
  text-align: left;
  font-size: var(--h4-70-size);
  color: var(--color-black);
  font-family: var(--body-18px-regular);
}
@media screen and (max-width: 800px) {
  .contactUs {
    font-size: var(--font-size-37xl);
  }
  .letsTalk {
    gap: var(--gap-8xl);
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .contactUs {
    font-size: var(--font-size-23xl);
  }
}
