.residential {
  margin: 0;
  position: relative;
  font-size: var(--body-28px-semibold-size);
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
}
.typeItems {
  width: 4px;
  height: 4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--neutral-01);
}
.typeList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
}
.commercial {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  min-width: 103px;
}
.typeList1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs-5) 0 0;
}
.typeListChild {
  width: 4px;
  height: 4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--neutral-01);
}
.typeList2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
}
.renovations {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  min-width: 105px;
}
.projectTypes,
.typeList3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs-5) 0 0;
}
.projectTypes {
  width: 644px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.imageIcon,
.livingRoom {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
  debug_commit: 448091;
}
.imageIcon {
  height: 499px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.livingRoom {
  margin: 0;
  height: 91px;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
}
.div {
  height: 590px;
  width: 685px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-72xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.bedroom,
.imageIcon1 {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
  debug_commit: 448091;
}
.imageIcon1 {
  height: 493px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.bedroom {
  margin: 0;
  height: 97px;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
}
.balcony,
.div1,
.imageIcon2 {
  flex-shrink: 0;
  max-width: 100%;
}
.div1 {
  height: 590px;
  width: 685px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-78xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.balcony,
.imageIcon2 {
  position: relative;
}
.imageIcon2 {
  align-self: stretch;
  height: 350px;
  overflow: hidden;
  object-fit: cover;
}
.balcony {
  margin: 0;
  width: 380px;
  height: 208px;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
}
.div2 {
  width: 470px;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.blog,
.div2,
.projects {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.blog {
  width: 1360px;
  overflow-x: auto;
  flex-direction: row;
  gap: var(--gap-31xl);
  font-size: var(--body-32px-regular-size);
}
.projects {
  flex-direction: column;
  gap: var(--gap-16xl);
  text-align: left;
  font-size: var(--body-16px-regular-size);
  color: var(--neutral-01);
  font-family: var(--body-18px-regular);
}
@media screen and (max-width: 800px) {
  .projectTypes {
    flex-wrap: wrap;
  }
  .livingRoom {
    font-size: var(--font-size-7xl);
  }
  .div {
    padding-bottom: var(--padding-40xl);
    box-sizing: border-box;
  }
  .bedroom {
    font-size: var(--font-size-7xl);
  }
  .div1 {
    padding-bottom: var(--padding-44xl);
    box-sizing: border-box;
  }
  .balcony {
    font-size: var(--font-size-7xl);
  }
  .div2 {
    gap: var(--gap-base);
  }
  .blog {
    gap: var(--gap-6xl);
  }
  .projects {
    gap: var(--gap-mid);
  }
}
@media screen and (max-width: 450px) {
  .residential {
    font-size: var(--font-size-3xl);
  }
  .balcony,
  .bedroom,
  .livingRoom {
    font-size: var(--font-size-lgi);
  }
}
